#### Módulo principal

In [49]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df=pd.read_csv("./Clean datasets/cleanData.csv")
print(df.head(12))
count=0
for i in df['DIA']:
    if i==1:
        count=count+1
print(count)

   DIA_NOMBRE  PERIODO           CLASE                DIRECCION  \
0     DOMINGO     2017          Choque            CL 34 F CR 89
1   MIÉRCOLES     2017          Choque             CR 76 CL 104
2     DOMINGO     2017          Choque            CL 50 CR 64 B
3   MIÉRCOLES     2017          Choque      CR 51 C CL 12 B Sur
4      JUEVES     2017            Otro            CR 82 CL 42 D
5       LUNES     2017          Choque           CR 35 A CL 101
6       LUNES     2017          Choque              Tv 78 CR 67
7      SÁBADO     2017  Caida Ocupante              CR 80 CL 41
8      SÁBADO     2017  Caida Ocupante  CR 50 C CL 10 Occidente
9      JUEVES     2017          Choque              CL 10 CR 37
10  MIÉRCOLES     2017          Choque              CR 48 CL 10
11     SÁBADO     2017            Otro              CR 52 CL 53

                   TIPO_GEOCOD    GRAVEDAD                BARRIO  \
0                   Malla vial      HERIDO          Santa Mónica
1                   Malla vial      HERIDO              Pedregal
2                   Malla vial  SOLO DAÑOS    Carlos E. Restrepo
3                   Malla vial  SOLO DAÑOS              Guayabal
4                   Malla vial      HERIDO            La América
5                   Malla vial      HERIDO             San Pablo
6   Malla vial cruce invertido  SOLO DAÑOS           El Progreso
7                   Malla vial      HERIDO  San Antonio de Prado
8                   Malla vial      HERIDO            Campo Amor
9                   Malla vial      HERIDO            El Poblado
10                  Malla vial  SOLO DAÑOS                Manila
11                  Malla vial      HERIDO         La Candelaria

                  COMUNA         DISENO  MES  DIA
0             La América  Lote o Predio    7    2
1        Doce de Octubre   Interseccion    5   10
2       Laureles Estadio   Tramo de via    5    7
3               Guayabal   Tramo de via    6   28
4             La América   Tramo de via    6    8
5                Popular   Tramo de via    7   24
6               Castilla   Interseccion    7   10
7   San Antonio de Prado   Tramo de via    6   10
8               Guayabal   Tramo de via    6   17
9             El Poblado   Tramo de via    7   27
10            El Poblado  Lote o Predio    5   31
11         La Candelaria  Lote o Predio    7    1
3612

In [47]:
le = LabelEncoder()
dfe=df.apply(le.fit_transform)
print(dfe.head(30))
dfe['DIA'].unique()

    DIA_NOMBRE  PERIODO  CLASE  DIRECCION  TIPO_GEOCOD  GRAVEDAD  BARRIO  \
0            0        0      3       3025            4         0     226
1            4        0      3      18519            4         0     192
2            0        0      3       5310            4         2      41
3            4        0      3      14634            4         2      98
4            1        0      6      19725            4         0     108
5            2        0      3      11736            4         0     218
6            2        0      3      21637            5         2      72
7            5        0      1      19277            4         0     205
8            5        0      1      14271            4         0      37
9            1        0      3        177            4         0      70
10           4        0      3      13791            4         2     165
11           5        0      6      14969            4         0     110
12           2        0      3       5225            4         2      34
13           3        0      3       5323            4         2      51
14           2        0      3       2803            2         2     159
15           3        0      3      16913            4         0     238
16           5        0      3      14133            4         2     191
17           4        0      0      12827            4         0     116
18           3        0      0       7419            4         0     245
19           6        0      3      18697            4         2      63
20           3        0      3      21285            4         2      54
21           2        0      3       5493            4         0     258
22           5        0      3       7812            4         2     102
23           5        0      3       1878            4         2     221
24           5        0      3        388            4         2      55
25           4        0      3       7247            4         0     125
26           4        0      3      12052            4         2      29
27           5        0      1      19502            4         0      88
28           0        0      1      19215            4         0     119
29           3        0      3      12965            4         2     249

    COMUNA  DISENO  MES  DIA
0       37       3    6    1
1       23       2    4    9
2       47       9    4    6
3       32       9    5   27
4       37       9    5    7
5       59       9    6   23
6       16       2    6    9
7       62       9    5    9
8       32       9    5   16
9       26       9    6   26
10      26       3    4   30
11      38       3    6    0
12      19       9    3   16
13      47       9    4    1
14      47       9    6   16
15      32       2    5   19
16      26       9    6    0
17      26       9    6    4
18      60       9    5   26
19      47       9    3   27
20       7       1    3   17
21      76       9    5   18
22       5       3    6    7
23      32       2    3    0
24      23       9    6   14
25      76       2    3    4
26      38       2    4    2
27      37       9    6   28
28       7       9    6    8
29      26       9    5   19

array([ 1,  9,  6, 27,  7, 23, 16, 26, 30,  0, 19,  4, 17, 18, 14,  2, 28,
        8, 15, 11,  5, 20, 29, 22, 24, 13, 10, 25, 12, 21,  3])

In [58]:
from pandas.api.types import is_numeric_dtype
def remove_outlier(df):
    low = .05
    high = .95
    quant_df = df.quantile([low, high])
    for name in list(df.columns):
        if is_numeric_dtype(df[name]):
            print(quant_df.loc[low, name],name,quant_df.loc[high, name])
            df = df[(df[name] >= quant_df.loc[low, name]) & (df[name] <= quant_df.loc[high, name])]
    return df



df_sinOutLiers = remove_outlier(dfe)
datosNuevos = df_sinOutLiers.values
df_sinOutLiers

0.0 DIA_NOMBRE 6.0
0.0 PERIODO 2.0
0.0 CLASE 6.0
1799.0 DIRECCION 19643.0
4.0 TIPO_GEOCOD 5.0
0.0 GRAVEDAD 2.0
16.0 BARRIO 245.0
5.0 COMUNA 63.0
2.0 DISENO 9.0
0.0 MES 11.0
1.0 DIA 28.0

,DIA_NOMBRE,PERIODO,CLASE,DIRECCION,TIPO_GEOCOD,GRAVEDAD,BARRIO,COMUNA,DISENO,MES,DIA
0,0,0,3,3025,4,0,226,37,3,6,1
1,4,0,3,18519,4,0,192,23,2,4,9
2,0,0,3,5310,4,2,41,47,9,4,6
3,4,0,3,14634,4,2,98,32,9,5,27
5,2,0,3,11736,4,0,218,59,9,6,23
...,...,...,...,...,...,...,...,...,...,...,...
113649,6,2,3,18792,4,0,172,7,2,7,22
113650,2,2,6,16593,4,0,19,16,9,7,18
113652,6,2,3,12706,4,2,70,26,9,8,19
113654,3,2,1,7398,4,0,58,38,9,7,5
113657,6,2,3,3082,4,2,138,47,9,6,18

In [57]:
dfe['DIA_NOMBRE']>0.5

0         False
1          True
2         False
3          True
4          True
          ...
113654     True
113655     True
113656     True
113657     True
113658     True
Name: DIA_NOMBRE, Length: 113659, dtype: bool

In [27]:
df['DIA'].unique()

array([ 2, 10,  7, 28,  8, 24, 17, 27, 31,  1, 20,  5, 18, 19, 15,  3, 29,
        9, 16, 12,  6, 21, 30, 23, 25, 14, 11, 26, 13, 22,  4])

In [12]:
newdf=dfe.drop(['DIRECCION'],axis=1)

In [15]:
df_sinOutLiers = remove_outlier(newdf)
datosNuevos = df_sinOutLiers.values
df_sinOutLiers['']

,DIA_NOMBRE,PERIODO,CLASE,TIPO_GEOCOD,GRAVEDAD,BARRIO,COMUNA,DISENO,MES,DIA
0,0,0,3,4,0,226,37,3,6,1
1,4,0,3,4,0,192,23,2,4,9
2,0,0,3,4,2,41,47,9,4,6
3,4,0,3,4,2,98,32,9,5,27
4,1,0,6,4,0,108,37,9,5,7
...,...,...,...,...,...,...,...,...,...,...
113650,2,2,6,4,0,19,16,9,7,18
113652,6,2,3,4,2,70,26,9,8,19
113653,2,2,0,4,0,115,37,9,7,11
113654,3,2,1,4,0,58,38,9,7,5
113657,6,2,3,4,2,138,47,9,6,18

In [43]:
df_sinOutLiers['DIA'].unique()

array([ 1,  9,  6, 27, 23, 16, 19,  4, 26,  7,  2, 28,  8, 15, 18, 11,  5,
       20, 14, 22, 17, 13, 10, 24, 12, 25, 21,  3])

In [46]:
la = LabelEncoder()
la.fit(df['DIA'])
print(la.classes_)
# dfe=df['CLASE'].apply(la.fit())
# print(dfe.head())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]